@import url('https://fonts.googleapis.com/css2?family=Saira:wght@200;300;400;500&display=swap');
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
input{
  outline: none;
}

body{
  background: #EEEEEE;
  font-family: 'Saira', sans-serif;
}

.bitcoin{
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
}

header{
  background: #BED3D8;
}
.content-bitcoin{
  background: #F5DF5B;
  padding: 30px 30px;
}
.iconconverter{
  display: block;
  margin: 30px auto;
}
.box-bitcoin select {
  height: 44px;
  background: transparent;
  border: 1px solid #000;
  outline: none;
  padding: 10px 5px;
  vertical-align: bottom;
  margin-right: 20px;
  font-weight: 600;
}

.box-bitcoin input {
  height: 44px;
  padding: 10px;
  font-size: 26px;
  max-width: 150px;
  border-radius: 50px;
  border: none;
  text-align: center;
  background: #FBED93;
}

.valu-bitcoin{/* padding: 10px; */font-size: 26px;max-width: 150px;border-radius: 50px;border: none;text-align: center;height: 40px;background: #FBED93;width: 100%;}
button {
  max-width: 239px;
  width: 100%;
  margin: 40px auto;
  text-align: center;
  display: block;
  height: 51px;
  border: 0;
  box-shadow: 2px 3px 5px #00000061;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
}

.box-bitcoin.box-bitcoin-value {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 232px;
  align-items: baseline;
}